/* Global Styles */

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

h2, h3, footer {
    color: #E6DDDD;
    text-align: center;
}

p {
    color: #E6DDDD;
}

h1 {
    color: #D61D1D;
    text-align: center;
}

#container {
    background-color: #F86315;
}

/* End Global Styles */


/* Mobile Styles */

header {
    background-image: url('../images/Bank\ of\ America.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header img {
    width: 40%;
    padding-top: 10%;
}

header h1 {
    padding-bottom: 10%;
    text-shadow: 2px 2px 2px #000;
}

nav {
    background-color: #E9E456;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid #F86315;
}

nav ul {
    list-style-type: none;
    padding: none;
}


nav li {
    display: block;
}

nav li a {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background-color: #BC36EC;
    margin: 10px 0;
}

nav li a:hover {
    background-color: #BC36EC;
    color: #FBAFAF;
}

main {
    background-color: #F86315;
    padding: 10px;
}

#image_gallery img {
    width: 99.5%;
    margin: 10px 0;
    border: 1px solid #E6DDDD;
}

footer {
    padding: 40px 0;
    border-top: 2px solid #F86315;
    text-align: center;
}

/* End Mobile Styles */

/* Tablet Styles */
@media (min-width: 768px) {
    header {
        clear: both;
        overflow: hidden;
    }

    header img {
        float: left;
        width: 30%;
        margin-left: 85px;
        margin-top: -33px;
    }

    header h1 {
        line-height: 225px;
        font-size: 3em;
        text-align: center;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        width: 150px;
        border-radius: 20px;
    }

    #image_gallery {
        display: flex;
        flex-wrap: wrap;
    }

    #image_gallery img {
        width: 47.2%;
        margin: 10px;
        border: 1px solid #E6DDDD;
    }

    footer {
        background-color: #F86315;
    }
}

/* End Tablet Styles */

/* Desktop Styles */

@media (min-width: 1024px) {
    header img {
        float: left;
        width: 20%;
        margin-left: 150px;
        margin-top: -97px;
        margin-right: -288px;
    }

    header h1 {
        font-size: 4em;
    }

    nav li a {
        width: 200px;
        margin: 0 10px;
        border-radius: 20px;
    }

    #image_gallery img {
        width: 31.4%;
        margin: 10px;
        border: 1px solid #E6DDDD;
    }

    footer {
        background-color: #F86315;
    }
}

/* End Desktop Styles */